# Server Listening Port
PORT=5000

# MongoDB Connection String
# Local MongoDB: mongodb://localhost:27017/textIntelligence
# MongoDB Atlas Free Tier Example: mongodb+srv://<username>:<password>@cluster0.mongodb.net/textIntelligence?retryWrites=true&w=majority
MONGO_URI=mongodb://Aryan123:Aryan123@ac-kmpaxvw-shard-00-00.nhd0znp.mongodb.net:27017,ac-kmpaxvw-shard-00-01.nhd0znp.mongodb.net:27017,ac-kmpaxvw-shard-00-02.nhd0znp.mongodb.net:27017/textIntelligence?ssl=true&replicaSet=atlas-muuoxy-shard-0&authSource=admin&appName=mernapp

# Python Flask Microservice URL
FLASK_SERVICE_URL=http://127.0.0.1:5001
